# Ignore all node_modules in any subfolder
node_modules/

# Ignore environment files
.env
server/.env
client/.env

# Ignore logs
*.log

# Ignore build outputs
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db
